



/* NAVBAR  */

#top-navbar {
    margin-top: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
}

.home-mar
{
    margin-left: .5em;
    margin-right: .5em;

}

#button-try-it
{
    padding-left: 2em;
    padding-right: 2em;
}


/* NAVBAR END  */


