@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');


/* Utility Classes  */


body {
    font-family: 'Poppins', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR  */

#top-navbar {
    margin-top: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
}

.home-mar {
    margin-left: .5em;
    margin-right: .5em;
}

#button-try-it {
    padding-left: 2em;
    padding-right: 2em;


}

/* NAVBAR END  */



/* Header */

#header {
    background-image: linear-gradient(130deg, #ffa159 0, #ff39b4 51%, #ffa159 100%);
    padding-top: 2em;
    color: aliceblue;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.3px;
}

.header-h1 {
    font-size: 3.6em;
    font-weight: bold;
}

.colunm-device {
    margin-top: 4em;
}

.header-p {
    margin-top: 3em;
    margin-bottom: 3em;
    font-weight: lighter;
    font-size: 1.11em;
    line-height: 1.6em;

}




/* Counter */

#counter {
    margin-top: 4em;
    margin-bottom: 25m;
}

.counter-icon {

    background-image: linear-gradient(130deg, #ffa159 35%, #ff39b3 100%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.counter-h4 {
    font-size: 1.8em;
    font-weight: bold;

}

.counter-p {
    color: #82848a;

}



#free-btn {
    font-size: 1.2em;
    font-weight: bolder;
    background-image: linear-gradient(130deg, #ffa159 20%, #ff39b4 51%);
    border-color: white;
    padding-left: 1.75em;
    padding-right: 1.75em;

}





/* Feature */

.feature-p {
    color: #82848a;
    font-weight: 600;
}

.feature-h1 {
    font-weight: bolder;
    margin-bottom: 2em;
}


.feature-div1 {
    margin-bottom: 6em;
}

.feature-img-people {
    margin-bottom: 2em;
}

.feature-img-div {
    margin-bottom: 8em;
}

.feature-p-img {
    color: #82848a;
    margin-left: 12em;
    margin-right: 12em;
    margin-bottom: 1.5em;
}

.feature-cont-1 {
    margin-bottom: 8em;
}


.card-icon {
    background-image: linear-gradient(130deg, #ffa159 35%, #ff39b3 100%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

    margin-top: 1em;
    margin-bottom: 1.2em;
}

.card-h3 {
    font-weight: bold;
    font-size: 1.25em;
}

.card-text {
    margin-top: 1.5em;
    color: #82848a;

}

.card-body {
    margin-bottom: 3em;
}


.dl-p {
    margin-bottom: 0;
}

.btn-ctr {
    margin-top: .3em;
    margin-bottom: .3em;
}

#btn-gra {
    background-image: linear-gradient(130deg, #ffa159 35%, #ff39b3 100%);
    border-color: white;
    font-weight: 700;
}

.border-gradient {
    display: inline-block;
    border-image-source: linear-gradient(130deg, #ffa159 0, #ff39b4 51%, #ffa159 100%) !important;
    border-image-slice: 10 !important;
    border-style: solid !important;
    border-image-width: 2px !important;
    color: #ff39b4 !important;
}

#btn-non-gra {
    background-color: white;
}

/* coursel */


/* Latest News */


.latest-news
{
    text-align: center;
    margin-top: 4em;

}











/* contact us */
.contact-us
{
    text-align: center;
    margin-top: 7em;
}
.contact-us-2
{
    margin-bottom: 5em;
}

.contact-icon
{
    background-image: linear-gradient(130deg, #ffa159 35%, #ff39b3 100%);
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

}

.contact-form
{
    background-color: #e2e3e5;
    padding-top: 2em;
    padding-bottom: 2em;

}

.Address-box
{
    margin-left: 3em;
}

.h3-btm
{
    margin-bottom: .5em;

}

.p-contact
{
    color: #82848a;
}
.h3-contact
{
    font-weight:600;
}

.form-control
{
    margin-bottom: 2em;;
}













/* Footer */

#footer {
    background-image: linear-gradient(130deg, #ffa159 0, #ff39b4 51%, #ffa159 100%);
    color: white;
    padding-top: 5em;
    padding-bottom: 3em;
}

.foot-subs {

    background: rgba(0,0,0,0.15);
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
}


.support
{
    margin-top: 5em;
    margin-bottom: 2em;
}


.foot-h2
{
    font-size: 3em;
    font-weight: bolder;

}


.rw-1
{
    margin-bottom: 1em;
    text-align: center;
}


.foot-icon
{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .5em;
}