@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');


/* Utility Classes  */


body{
    font-family: 'Poppins', sans-serif !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR  */

#top-navbar {
    margin-top: 0;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
}

.home-mar
{
    margin-left: .5em;
    margin-right: .5em;
}

#button-try-it
{
    padding-left: 2em;
    padding-right: 2em;
}

/* NAVBAR END  */



/* ------------------------Header---------------------------- */

#header
{
    background-image:linear-gradient(130deg, #ffa159 0, #ff39b4 51%, #ffa159 100%) ;
    padding-top: 2em;
    color: aliceblue;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.3px;
}

.header-h1
{
    font-size: 3.6em;
    font-weight: bold;
}

.colunm-device
{
    margin-top: 4em;
}

.header-p
{
    margin-top: 3em;
    margin-bottom: 3em;
    font-weight: lighter;
    font-size: 1.11em;
    line-height: 1.6em;

}




/* Counter */

#counter
{
    margin-top: 4em;
    margin-bottom: 25m;
}

.counter-icon
{
    color: pink;
}
.counter-h4
{
    font-size: 1.8em;
    font-weight: bold;
   
}
.counter-p
{
    color: #82848a;

}





/* Feature */

.feature-p
{
    color: #82848a;
}

